.App {
	color: white !important;
	font-family: sans-serif;
	text-align: center;
}
body {
	color: white;
	background: url("https://source.unsplash.com/2043x2043/?nature");
	background-repeat: no-repeat;
}
.usermessage {
	color: rgb(108, 174, 221) !important;
	margin: 5px;
}
.Avatar {
	width: 100px;
	margin: 20px;
	border-radius: 50%;
}
.idcardbox {
	background-color: white;
	opacity: 0.9;
	filter: alpha(opacity=30);
	border-radius: 30px;
}
