.App {
	color: white !important;
	font-family: sans-serif;
	text-align: center;
}
body {
	color: white;
	background: url("https://source.unsplash.com/2043x2043/?nature");
	background-repeat: no-repeat;
}
.usermessage {
	color: rgb(108, 174, 221) !important;
	margin: 25px;
}
.Avatar {
	width: 20%;
	border-radius: 50%;
	overflow: hidden;
}
.idcardbox {
	background-color: white;
	opacity: 0.9;
	filter: alpha(opacity=30);
	margin-left: 20% !important;
	border-radius: 30px;
	background-image: url("https://static.wixstatic.com/media/2b328e_ff37d721af8945c19dd4fe9914e65897~mv2_d_4167_3333_s_4_2.png/v1/fill/w_622,h_240,al_c,q_80,usm_0.66_1.00_0.01/2b328e_ff37d721af8945c19dd4fe9914e65897~mv2_d_4167_3333_s_4_2.webp");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position-x: 70%;
	background-position-y: 50%;
	overflow: hidden;
	width: 70%;
}
